
<div class="auction-form-container col-md-12" style="padding: 0px;">
	<form class="form-horizontal" role="form">
		<div id="topRow" class="auction-form-title">Consultar PADRON </div>


		<div class="col-sm-8 col-md-8 auction-form-body">

			<div class="form-group">
				<div id="errorMessage" class="error-box" style="display: none;">
				</div>
			</div>


			<div id="ciGroup" class="form-group">
				<label class="col-sm-4 control-label">NRO. C.I.</label>

				<div class="input-append col-sm-4">
					<input type="text" class="form-control" id="ciInput"
						name="ci">
				</div>

			</div>



			<div id="deliveryGroup" class="form-group">
				<label class="col-sm-4 control-label">FECHA DE NACIMIENTO</label>
				<div class="col-sm-4">
					<div id="deliveryDateFromComponent" class='input-group date'
						data-date-format="DD/MM/YYYY">
						<input type='text' id="deliveryDateFrom"
							name="deliveryPeriodStart" class="form-control" /> <span
							class="input-group-addon"> <span
							class="glyphicon glyphicon-calendar"></span>
						</span>
					</div>
				</div>
			</div>


			<div class="col-sm-8 col-sm-offset-4">
				
				<span id="backButton" class="btn btn-primary"
					style="background-color: #aaaaaa;">Volver</span>
				<button class="btn btn-primary" id="acceptButton">Enviar</button>
			</div>


		</div>

	
		</div>



	</form>

	<div class="col-sm-12 panel-footer-bar"></div>


</div>

