
<td>
	<div id="auctiondiv<%=reverseAuctionNumber%>" class="auction-summary">

		<div id="divribbon" class="featured"
			style="width: 100px; height: 80px; float: left; padding-left: -5px;"></div>

		<div class="auction-summary-header">

			<div>
				<div class="auction-summary-title">
					
				</div>

				<div class="auction-exp-div">
				</div>


			</div>

			<div class="auction-summary-title-underline"></div>
		</div>
		<div id="errorMessage" class="error-box" style="display: none;">
		</div>
		<div style="margin-top: 0px;">
			<table class="auction-summary-details">
				<tr>
					<td></td>
					<td class="item-labels">Nombre </td>
					<td class="item-details"><%= nombrecompleto %></td>
					<td class="item-labels">Partido</td>
					<td class="item-labels"><%= partido %></td>
					<td class="item-details"></td>
				</tr>
				<tr>
					<td></td>
					<td class="item-labels">Localidad:</td>
					<td class="item-details"><%= localidad %></td>
					<td class="item-labels"></td>
					<td class="item-labels"></td>
					<td class="item-details"></td>
				</tr>
				<tr>
					<td></td>
					<td class="item-labels">Mesa</td>
					<td class="item-details"><%= mesa %> </td>
					<td class="item-labels">Orden</td>
					<td class="item-labels"><%= orden %></td>
					<td class="item-details"></td>
				</tr>
			</table>


		</div>



	</div>

</td>
<br />
<br />



